@page
@model TaskListModel
@inject TaskManager.Services.ITaskService TaskService

<h1>Список задач</h1>
<ul>
    @foreach (var task in TaskService.GetAllTasks())
    {
        <li>
            <strong>@task.Title</strong><br />
            @task.Description<br />
            <small>Дата создания: @task.CreatedAt</small>
        </li>
    }
</ul>
