<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReviewApp</title>
    <link rel="stylesheet" href="~/css/site.css" /> @* для базового стиля *@
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Приложение отзывов</a>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            © @DateTime.Now.Year - Приложение отзывов
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>