@page
@model HomeWork6_7.Areas.Admin.Pages.UserListModel

<h1>User List</h1>
<ul>
    <li><a asp-area="Admin" asp-page="/User/1/перс1">перс 1</a></li>
    <li><a asp-area="Admin" asp-page="/User/2/перс2">перс 2</a></li>
    <li><a asp-area="Admin" asp-page="/User/3/перс3">перс 3</a></li>
    <li><a asp-area="Admin" asp-page="/User/4/перс3">Non-Existent User</a></li>
</ul>
